.body-container {
  background: rgba(44, 62, 80, 0.02);
  padding-top: 56px;
  padding-bottom: 94px;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 135px;
    padding-right: 135px;
    @media only screen and(max-width:767px) {
      padding: 0px;
    }

    .head {
      margin-bottom: 15px;
    }
    .map-content {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #ffffff;
      border: 0.5px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 6px;
      height: 472px;
      .address-content {
        position: absolute;
        width: 329px;
        height: 126px;
        left: 24px;
        background: #ffffff;
        border: 1px solid #2380ff;
        box-sizing: border-box;
        box-shadow: 0px 1px 8px rgba(44, 62, 80, 0.08);
        border-radius: 4px;
        padding: 14px;
      }
    }
  }
}
