.body-wrapper-user {
  background: rgba(44, 62, 80, 0.02);
  padding-top: 56px;
  padding-bottom: 94px;
  @media only screen and(max-width:767px) {
    padding-top: 20px;
    padding-right: 24px;
  }
  .container {
    display: flex;
    flex-direction: column;

    .head {
      margin-bottom: 15px;
      @media only screen and(max-width:767px) {
        margin-bottom: 20px;
      }
    }
    .content-wrapper {
      background: #ffffff;
      border: 0.5px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 6px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 32px 32px 64px 32px;

      @media only screen and(max-width:767px) {
        border: 0px;
        background: none;
        padding: 0px;
      }

      .input-wrapper {
        display: flex;
        justify-content: space-between;
        @media only screen and(max-width:767px) {
          display: flex;
          flex-direction: column;
        }
        .input-form {
          width: 31%;
          @media only screen and(max-width:767px) {
            width: 100%;
          }
        }
      }
      .checkbox-container {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #2c3e50;
      }
    }
  }
}
