.header-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(44, 62, 80, 0.08);
  padding-top: 14px;
  padding-bottom: 14px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-logo {
    width: 129px;
    height: 52px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .header-language {
    @media only screen and(max-width:767px) {
      display: none;
    }
    display: flex;
    align-items: center;
    label {
      margin-left: 6px;
      margin-right: 9px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #2c3e50;
    }
  }
  .header-language-mob {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    display: flex;
    align-items: center;
    label {
      margin-left: 6px;
      margin-right: 9px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #2c3e50;
    }
  }
}
