.body-wrapper {
  background: rgba(44, 62, 80, 0.02);
  padding-top: 56px;
  padding-bottom: 94px;

  .container {
    display: flex;
    flex-direction: column;
    .head {
      margin-bottom: 15px;
    }
    .content-container {
      background: #ffffff;
      border: 0.5px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 6px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 134px;
      padding-left: 106px;
      padding-right: 106px;
      justify-content: center;
      @media only screen and(max-width:767px) {
        padding: 0px;
        border: 0px;
      }
      .note-content {
        margin-top: 92px;
        margin-bottom: 18px;
        @media only screen and(max-width:767px) {
          display: none;
        }
        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #b0b0b0;
        }
      }
      .items {
        border: 0px solid #e5e5e5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media only screen and(max-width:767px) {
          flex-wrap: wrap;
          padding-top: 20px;
        }
        .self-item {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          border: 0.5px solid #e5e5e5;
          width: 30%;
          height: 212px;
          border-radius: 6px;
          @media only screen and(max-width:767px) {
            width: auto;
            margin-bottom: 20px;
          }
          label {
            display: none;
          }

          &.item-active {
            border: 1px solid #2380ff;
            box-sizing: border-box;
            border-radius: 6px;
            label {
              display: block;
              width: 24px;
              position: absolute;
              height: 24px;
              top: -10px;
              right: -10px;
            }
          }

          .logo {
            width: 54px;
            height: 54px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          span {
            margin-top: 16px;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #2c3e50;
          }
          p {
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            text-align: center;
            color: #b0b0b0;
            margin-top: 16px;
          }
        }
      }
    }
  }
}
